# Get Stock Quotes

This is an independent script because running it from Fidelity network requires that the http_proxy settings have been done appropriately. 

We will save the quotes in a csv file and read it in the stock clustering exercise.

### Get the stock quotes from google by using pandas datareader

In [1]:
import pandas_datareader.data as web
import datetime    
import numpy as np

symbol_dict = {
    'TOT': 'Total',
    'XOM': 'Exxon',
    'CVX': 'Chevron',
    'COP': 'ConocoPhillips',
    'VLO': 'Valero Energy',
    'MSFT': 'Microsoft',
    'IBM': 'IBM',
    'TWX': 'Time Warner',
    'CMCSA': 'Comcast',
    'CVC': 'Cablevision',
    'YHOO': 'Yahoo',
    'DELL': 'Dell',
    'HPQ': 'HP',
    'AMZN': 'Amazon',
    'TM': 'Toyota',
    'CAJ': 'Canon',
    'MTU': 'Mitsubishi',
    'SNE': 'Sony',
    'F': 'Ford',
    'HMC': 'Honda',
    'NAV': 'Navistar',
    'NOC': 'Northrop Grumman',
    'BA': 'Boeing',
    'KO': 'Coca Cola',
    'MMM': '3M',
    'MCD': 'Mc Donalds',
    'PEP': 'Pepsi',
    'MDLZ': 'Kraft Foods',
    'K': 'Kellogg',
    'UN': 'Unilever',
    'MAR': 'Marriott',
    'PG': 'Procter Gamble',
    'CL': 'Colgate-Palmolive',
    'GE': 'General Electrics',
    'WFC': 'Wells Fargo',
    'JPM': 'JPMorgan Chase',
    'AIG': 'AIG',
    'AXP': 'American express',
    'BAC': 'Bank of America',
    'GS': 'Goldman Sachs',
    'AAPL': 'Apple',
    'SAP': 'SAP',
    'CSCO': 'Cisco',
    'TXN': 'Texas instruments',
    'XRX': 'Xerox',
    'WMT': 'Wal-Mart',
    'WBA': 'Walgreen',
    'HD': 'Home Depot',
    'GSK': 'GlaxoSmithKline',
    'PFE': 'Pfizer',
    'SNY': 'Sanofi-Aventis',
    'NVS': 'Novartis',
    'KMB': 'Kimberly-Clark',
    'R': 'Ryder',
    'GD': 'General Dynamics',
    'RTN': 'Raytheon',
    'CVS': 'CVS',
    'CAT': 'Caterpillar',
    'DD': 'DuPont de Nemours'}


start = datetime.datetime(2017,1,3)
end = datetime.datetime(2017,1,3)
symbols = list(symbol_dict.keys())
   
quotes = web.DataReader(symbols, "google", start, end)

## Convert the pandas Panel to dataframe

In [2]:
import pandas as pd

t = pd.Panel.to_frame(quotes)
t.head()

                    Open    High     Low   Close       Volume
Date       minor
2017-01-03 AAPL    115.8  116.33  114.76  116.15  2.87819e+07
           AIG     65.95   66.01   64.69   65.12  7.32192e+06
           AMZN   757.92  758.76   747.7  753.67  3.52107e+06
           AXP     74.89   75.75   74.74   75.35  5.85388e+06
           BA      156.3  157.14  155.21  156.97  3.42611e+06

In [3]:
t.to_csv('./data/stock_quotes.csv')

### THE END